.textoInicio {
	background-color: #141418;
	font-size: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin-bottom: -16px;
}
.textoInicio__adentro {
	color: white;
	padding-top: 30px;
}
.textoInicio__adentro--otro {
	color: #B1AFA5;
	font-size: 20px;
	padding-bottom: 30px;
}
.textoBiciMontana {
	background-color: #332e26;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoBiciPaseo {
	background-color: #324d33;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoBiciRuta {
	background-color: #4a4e50;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoHombres {
	background-color: #14384d;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoMujeres {
	background-color: #39253f;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoAccesorios {
	background-color: #523f18;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.textoNegrita {
	color: black;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}