<!-- Esta sección falta por hacerla responsive -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Bicicleteria 'Bikeing' - Bicicletas de paseo">
	<meta name="keywords" content="Bicicleta, Bicicletas, Bicicleteria, Ciclismo, Ciclista, Deporte, Deportes, Ejercicio, Paseo">
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Bikeing™ - Bicicletas de paseo</title>
</head>
<body class="seccionPaseo">
    <!-- La barra de navegación la voy a modificar -->
	<nav class="navbar navbar-expand-md navbar-light bg-dark">		
		<div class="container">
			<a href="index.html" class="navbar-brand text-light">
				Bikeing
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#firstNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center" id="firstNavbar">
				<ul class="navbar-nav mb-auto">
					<li class="nav-item"><a class="nav-link text-light" href="index.html">Inicio</a></li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
							Bicicletas
						</a>
						<div class="dropdown-menu bg-dark">
							<a href="/views/montana.html" class="dropdown-item text-light bg-dark">De montaña</a>
							<a href="/views/paseo.html" class="dropdown-item text-light bg-dark">De paseo</a>
							<a href="/views/ruta.html" class="dropdown-item text-light bg-dark">De ruta</a>
						</div>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
								Indumentaria
							</a>
							<div class="dropdown-menu bg-dark">
								<a href="/views/hombres.html" class="dropdown-item text-light bg-dark">Hombre</a>
								<a href="/views/mujeres.html" class="dropdown-item text-light bg-dark">Mujer</a>
							</div>
					<li class="nav-item"><a class="nav-link text-light" href="/views/accesorios.html">Accesorios</a></li>
					<li class="nav-item"><a class="nav-link text-light" href="/views/contacto.html">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
    <h1>Bicicletas de paseo</h1>
	<hr>
	<br>
	<div class="textoBiciPaseo">
		<p class="textoNegrita">Las mejores bicicletas de paseo importadas con la mejor calidad</p>
	</div>
	<!-- Voy a cambiar toda esta sección porque todavia no la pude hacer responsive -->
	<div class="grid-container">
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo1.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Roll Sport Step</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$74.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo2.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Roll Base Step</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$64.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo3.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Mariner D8 FB</h3>
				<h3>Marca: Dahon</h3>
				<h2 class="price">$93.499,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo4.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Mu D9 FB</h3>
				<h3>Marca: Dahon</h3>
				<h2 class="price">$95.699,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo5.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta GX 2021</h3>
				<h3>Marca: GoCycle</h3>
				<h2 class="price">$299.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo6.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta GS 2019</h3>
				<h3>Marca: GoCycle</h3>
				<h2 class="price">$214.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo7.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Level 2021 EB</h3>
				<h3>Marca: Aventon</h3>
				<h2 class="price">$149.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo8.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta One Mid EFB</h3>
				<h3>Marca: Dahon</h3>
				<h2 class="price">$205.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo9.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Roll Sport</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$74.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo10.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Crossroads 3.0</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$88.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo11.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Crossroads 2.0</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$70.249,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo12.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta One Hub EFB</h3>
				<h3>Marca: Dahon</h3>
				<h2 class="price">$168.599,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo13.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Pace 500 EB</h3>
				<h3>Marca: Aventon</h3>
				<h2 class="price">$149.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo14.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta G4i EFB</h3>
				<h3>Marca: GoCycle</h3>
				<h2 class="price">$427.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo15.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Vado 4.0</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$355.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		<div class="cardPaseo">
			<div class="imgBxPaseo">
				<img src="/multimedia/bicipaseo16.jpg">
			</div>
			<div class="contentBxPaseo">
				<h3>Bicicleta Turbo SL 5.0</h3>
				<h3>Marca: Specialized</h3>
				<h2 class="price">$279.999,<small>99</small></h2>
				<a href="#" class="buy">Añadir al carrito</a>
			</div>
		</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>Nosotros</h4>
						<ul>
							<p class="nosotros">Almagro, CABA, Argentina</p>
							<p class="nosotros">Local 2606</p>
							<p class="nosotros">CP: 2021</p>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Bicicletas</h4>
						<ul>
							<li><a href="views/montana.html">De montaña</a></li>
							<li><a href="views/paseo.html">De paseo</a></li>
							<li><a href="views/ruta.html">De ruta</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Ropa y otros</h4>
						<ul>
							<li><a href="views/hombres.html">Hombres</a></li>
							<li><a href="views/mujeres.html">Mujeres</a></li>
							<li><a href="views/accesorios.html">Accesorios</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Redes</h4>
						<div class="social-links">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fas fa-envelope"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>